// COLORS

.white {
  color: #fff;
}

.backgr_violet {
  background-color: #47297c;
}

.grey {
  background-color: #54515b;
}

.grey_text {
  color: #54515b;
}

.sky {
  background-color: #53a0db;
}

.fucsia {
  background-color: #c42d85;
}

.red {
  background-color: #ed2525;
}

.blue {
  background-color: #2d4789;
}

.blue_text {
  color: #54a3f2;
}

.pink {
  background-color: #e03e64;
}

.yellow {
  background-color: #e2b90a;
}

.mr_tot_1 {
  margin: 10px;
}

.mr_right_1 {
  margin: 10px;
}

.mr_bot_1 {
  margin-bottom: 10px;
}

.mr_tot_2 {
  margin: 20px;
}

.mr_bot_2 {
  margin-bottom: 20px;
}

// TEXT STYLE

.no_style {
  list-style: none;
}

.text_center {
  text-align: center;
}

.font_oblique {
  font-style: oblique;
}

.font_light {
  font-weight: 300;
}

.line_height {
  line-height: 1.6;
}

.font_bold {
  font-weight: bold;
}

#font {
  font-size: 1.1em;
}

// BACKGROUND-IMAGES

.background_jambo {
  background-image: url('../img/bg-painter-home.jpg');
}

.background_fish {
  background-image: url('../img/ptr-module.jpg');
}

.background_mechanics {
  background-image: url('../img/particleshop-module.jpg');
}

.background_brush {
  background-image: url('../img/brush-pack-module.jpg');
}

.background_wacom {
  background-image: url('../img/wacom-painter.jpg');
}

.background_wacom_tablet {
  background-image: url('../img/wacom.png');
}

.background_dragon{
  background-image: url('../img/painter-master.jpg');
}

.background_education{
  background-image: url('../img/business-education.jpg');
}
