.no_style {
  list-style: none;
}

.text_center {
  text-align: center;
}

.oblique {
  font-style: oblique;
}

.font_light {
  font-weight: lighter;
}

.line_height {
  line-height: 1.6;
}

.white {
  color: #fff;
}

.blue {
  color: #54a3f2;
}

.violet {
  background-color: #552199;
}

.grey {
  background-color: #54515b;
}

.sky {
  background-color: #53a0db;
}

.mr_tot_1 {
  margin: 10px;
}

.mr_tot_2 {
  margin: 20px;
}
