section {
  &.foot_first_sec {
    width: 100vw;
    height: 23vh;
    background-color: $icegrey;
    padding-top: 20px;
    div {
      &.container_tail {
        @include container-center;
        @include flex-box;
        div {
          &.ul_container {
            width: 20%;
            display: inline-block;
            ul {
              color: $grey;
              li {
                &.li_list {
                  line-height: 2;
                  font-size: 0.9em;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
  }
}
div {
  &.main_media_container {
    @include container-center;
    display: flex;
    justify-content: flex-end;
    div {
      &.small_media_container {
        width: 150px;
        @include flex-box;
        div {
          &.square {
            width: 20px;
            height: 20px;
            position: relative;
            i {
              font-size: 1.2em;
              position: absolute;
              @include transform;
              color: $white;
            }
          }
        }
      }
    }
  }
}
section {
  &.foot_second_sec {
    width: 100vw;
    height: 10vh;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    div {
      &.base_foot_cont {
        @include container-center;
        display: flex;
        div {
          &.cont_brands {
            width: 40%;
            height: 100px;
            @include flex-box;
            flex-shrink: 1;
            div {
              &.cont_little_brand {
                position: relative;
                img {
                  position: absolute;
                  @include transform;
                }
              }
            }
          }
        }
      }
    }
  }
}
div {
  &.cont_copyrights {
    width: 100%;
    .cont_ul_copyright {
      ul {
        color: $lightgrey;
          margin-top: 40px;
          display: flex;
          justify-content: flex-end;
        li {
          padding-right: 10px;
          font-size: 0.9em;
          letter-spacing: 1px;
        }
      }
    }
  }
}
