@mixin container-center {
  width: $container-width;
  margin: 0 auto;
}

@mixin transform {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin background-box {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-box {
  display: flex;
  justify-content: space-between;
}

@mixin main-width {
  width: 100vw;
  height: 45vh;
}

@mixin button-size {
  padding: 10px 25px;
}

@mixin clearfix {
  clear: both;
  content: '';
  display: table;
}
