@mixin container-center {
  width: $container-width;
  margin: 0 auto;
}

@mixin background-box {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-box {
  display: flex;
  justify-content: space-between;
}

@mixin main-width {
  width: 100vw;
  height: 60vh;
}

@mixin clearfix {
  clear: both;
  content: '';
  display: table;
}
