nav {
  color: $white;
  &.navbar {
    width: 100vw;
    height: 20%;
    background-color: $black;
    div {
      &.navcontainer {
        @include container-center;
      }
    }
  }
}
.navtop {
  ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: $lightgrey;
    li {
      padding: 6px;
      margin: 7px;
      color: $lightgrey;
      font-size: 0.90em;
      i {
        color: $blue;
      }
      select {
        width: 65px;
        border-radius: 2px;
        padding: 1px;
        font-size: 0.90em;
        color: $grey;
      }
    }
  }
}
.navbot {
  div {
    &.logo_container {
      margin-bottom: 20px;
      img {
        &.logo {
          width: 110px;
        }
      }
    }
  }
}
.navbot {
  display: flex;
  ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    li {
      display: flex;
      margin: 10px;
      padding-left: 10px;
      font-size: 0.90em;
      i {
        color: $lightgrey;
        margin-top: 2px;
        margin-left: 3px;
      }
    }
  }
}
