nav {
  color: $white;
  &.navbar {
    width: 100vw;
    height: 20%;
    background-color: $black;
    div {
      &.navcontainer {
        @include container-center;
      }
    }
  }
}
.navtop {
  ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-weight: lighter;
    color: $lightgrey;
    li {
      padding: 6px;
      margin: 7px;
      color: $lightgrey;
      font-size: 10px;
      i {
        color: $blue;
      }
      select {
        border-radius: 2px;
        padding: 3px;
        font-size: 10px;
      }
    }
  }
}
.navbot {
  ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    font-weight: normal;
    li {
      display: flex;
      margin: 10px;
      font-size: 11px;
      i {
        color: $lightgrey;
        margin-left: 2px;
      }
      .logo{
        width: 70px;
        margin-bottom: 5px;
      }
    }
  }
}
