section {
  div {
    &.background_container {
      @include main-width;
      @include background-box;
      background-position: center;
      background-size: 150%;
      .back_center_container{
        @include container-center;
        padding-top: 100px;
        img {
          width: 200px;
        }
      }
    }
  }
}
div {
  &.items_container > p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.6em;
  }
}
div {
  &.p_container > p {
    color: #d642ae;
    margin-top: 3px;
    font-size: 1.2em;
  }
}
div {
  &.button_container {
    margin-top: 30px;
    button {
      &.button_header.black{
        font-size: 1.3em;
        @include button-size;
        background-color: $black;
        color: $white;
        border: $black solid 1px;
        margin-right: 20px;
      }
      &.button_header.transparent{
        font-size: 1.3em;
        @include button-size;
        background-color: transparent;
        color: $black;
        border: $black solid 2px;
      }
    }
  }
}
