section {
  &.second_sec {
    width: 100vw;
    height: 100vh;
    background-color: $icegrey;
    .container_block_images{
      @include container-center;
      height: 600px;
      div {
        &.block_container {
          display: inline-block;
          float:left;
          width: 50%;
          height: 200px;
        }
        &.block_container:after {
          @include clearfix;
        }
      }
    }
  }
}
div {
  &.block_container {
    span {
      margin-bottom: 10px;
      p {
        &.white {
          font-size: 15px;
        }
      }
    }
    button {
      &.button_block {
        font-size: 10px;
        width: 100px;
        padding: 6px;
        margin-top: 5px;
        margin-left: 10px;
      }
    }
  }
}
div {
  &.block_container.plus_image {
    @include background-box;
    div {
      &.image_inside_container {
        width: 200px;
        height: 150px;
        @include background-box;
        background-position: center;
        position: relative;
        @include transform
      }
    }
  }
}
