section {
  &.first_sec {
    @include main-width;
    background-color: $icegrey;
    div {
      &.container_text {
        @include container-center;
        p {
          padding-top: 30px;
          margin-bottom: 20px;
          font-size: 2em;
        }
      }
    }
  }
}
div {
  &.container_images {
    @include container-center;
    @include flex-box;
    height: 250px;
    div {
      &.image_container {
        width: 32%;
        height: $extend-all;
        background-color: $white;
        .image_small_container{
          width: $extend-all;
          height: 50%;
          @include background-box;
        }
      }
    }
  }
}
div {
  &.text_img_container {
    @include flex-box;
    flex-direction: column;
    span {
      display: flex;
      padding-top: 10px;
      p:first-child {
        margin-right: 2px;
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }
    p {
      &.p_sec{
        margin: 5px;
        font-size: 0.95em;
      }
    }
  }
}
